{% extends "master.html" %}

{% block title %}Shopsense | Update Password{% endblock %}


{% block primary %}
    <h2>Complete Registration</h2>

    <form action="/login/modpassapi/" method="POST">
        {% csrf_token %}

        <div><span>Username</span><input type="email" name="username" id="username" value="{{ username }}" readonly="readonly" /></div>
        <div><span>Password</span><input type="password" name="password" id="password" /></div>

        <input type="submit" value="Update" />
    </form>

    {{message}}
{% endblock %}
