{% extends "master.html" %}

{% block title %}Shopsense | Register{% endblock %}


{% block primary %}
    <h2>Register</h2>

    <form action="/login/registerapi/" method="POST">
        {% csrf_token %}

        <div><span>First Name</span><input type="text" name="first_name" id="first_name" /></div>

        <div><span>Last Name</span><input type="text" name="last_name" id="last_name" /></div>

        <div><span>Email</span><input type="email" name="email" id="email" /></div>

        <input type="submit" value="Register" />
    </form>
{% endblock %}
